*{
	margin:0;
	padding:0;
}

	
.container2{
	font-family: MaplestoryOTFLight;
	position:absolute;
	top: 5%;
	left: 16%;
    width: 100%;
    z-index:3;
}



.full_modal1{
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.full_modal2{
position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-div{
	background:white;
	width:40%;
	left: 29%;
	height: auto;
	border:1px solid black;
	border-radius: 5px;
	position: absolute;
	top: 33%;
}
.hidden{
	display: none;
	
}
#modal-div2{
	background:white;
	width:40%;
	height: auto;
	border:1px solid black;
	border-radius: 5px;
	position: absolute;
	top: 33%;
	left: 29%;
}

input[type=submit]:hover{
	
  background-color: darkgray;
}

input[type=submit]{
    background-color: gainsboro; 
    border-radius: 5px;
    border: none;
    width: 75px;
    height: 20px;
}




.board-table{
    width: 800px;
}

h2{
    height: 30px;
}
#modal_td{
	border-bottom: 0px;
}

hr{

    border-top: 2px solid gainsboro;           
}
#id1{
    border-top: 2px solid gainsboro ;
}

.table-border td{
    border-bottom: 1px solid gainsboro;
}

button{
    background-color: gainsboro; 
    border-radius: 5px;
    border: none;
}

Button:hover{
    background-color: darkgray;
}

#listButton:hover{
	color:gray;
}

.borderS-td-color{
    text-align: center;
    background-color: rgb(223, 215, 215);
}

.borderS-td-padding{
    padding: 10px;
}

textarea{
    resize: none;
}

textarea:focus{
    outline: none;
    
}