
      body{
        text-align: -webkit-center;
      }
      table{
        width: 1200px;
      }
      
      td{
        
        border-bottom: 1px solid lightgray;
        height: 40px;
      }
      
      
      td:first-child {
        text-align: center;
        background-color: gray;
        color: aliceblue;
        width: 10%;
        border: none;
      }

      input:nth-child(1){

        border: none;
        height: 70%;
   
      }
      td:nth-child(3){

        text-align: center;
        background-color: gray;
        color: aliceblue;
        width: 10%;
        border: none;

}
      #writer:focus{
     
        
        outline: none;
  
      }
      
      li{
        list-style: decimal;
      }
 